.text-link {
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  color: #fff;
  font-weight: 700;
}

.text-link-logo {
  text-decoration: none;
  color: #282c34;
}

/*-----box qc ------*/
.box-qc img {
  height: 170px;
  width: 100%;
}

/*-------Link_cate-----*/
.Link_cate {
  text-decoration: none;
  color: #3c3a3aab;
}

.Link_cate img {
  width: 14px;
  height: 9px;
  margin-top: -1px;
  margin-left: 8px;
}

.img-top img {
  border-radius: 20px;
}

.logo-mobile {
  display: none;
}

.box-categray img {
  height: 170px;
}

.cate_box_page img {
  height: 150px;
}
.cate_box_page_top img {
  height: 220px;
}

.box-list img {
  width: 200px;
  height: 120px;
}
.box-list {
  font-weight: 700;
}
.box_more img {
  width: 80px;
}

.hot_top {
  background: #fff;
  border: 1px solid #d6d6d6c1;
}

.font_title {
  font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
}

.skeleton_topstyle {
  height: 300px;
}
@media screen and (min-device-width: 601px) and (max-device-width: 780px) {
  .icon_logo {
    display: none;
  }
  .logo-mobile {
    display: block;
  }

  .box-categray img {
    height: 120px;
  }
  .cate_box_page img {
    height: 150px;
  }
  .cate_box_page_top img {
    height: auto;
  }
  .cate_box_page img {
    height: auto;
  }

  .Box_newtop {
    display: none;
  }

  .skeleton_topstyle {
    height: 280px;
  }
}

@media (max-width: 600px) {
  /*------------CateBox_Child---------------------*/
  .CateBox_Child {
    display: flex;
    text-align: left;
  }
  .CateBox_Child p {
    padding: 0 10px;
  }
  .CateBox_Child img {
    width: 30%;
  }
  /*------------CateBox_Child---------------------*/
  .CateBox_ChildCate {
    display: flex;
    text-align: left;
    border-bottom: 1px solid #d0d0d0;
  }
  .CateBox_ChildCate p {
    padding: 0 10px;
  }
  .CateBox_ChildCate img {
    width: 30%;
  }
  .icon_logo {
    display: none;
  }
  .cate_box_page img {
    height: auto;
  }
  .cate_box_page_top img {
    height: auto;
  }
  .Box_newtop {
    display: none;
  }

  .box-list img {
    width: 140px;
    height: 100px;
  }
  .box-categray img {
    height: 180px;
  }
  .logo-mobile {
    display: block;
  }
  .skeleton_topstyle {
    height: 280px;
  }
}
@media (max-width: 480px) {
  /*------------CateBox_Child---------------------*/
  .CateBox_Child {
    display: flex;
    text-align: left;
  }
  .CateBox_Child p {
    padding: 0 10px;
  }
  .CateBox_Child img {
    width: 30%;
  }

  .icon_logo {
    display: none;
  }
  /*----------------------*/
  /*------------CateBox_Child---------------------*/
  .CateBox_ChildCate {
    display: flex;
    text-align: left;
    border-bottom: 1px solid #d0d0d0;
  }
  .CateBox_ChildCate p {
    padding: 0 10px;
  }
  .CateBox_ChildCate img {
    width: 30%;
  }
  .box-categray img {
    height: 120px;
  }
  .logo-mobile {
    display: block;
  }
  .skeleton_topstyle {
    height: 200px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
